/* nav */
h1{
    text-align: center;
}
main nav{
    background-color: #333;
    color: white;
    padding: 1em 0;
}
main nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 1em;
}
main nav ul li{
    flex: 0 0 10vw;
    text-align: center;
}
main nav ul li a{
    color: white;
    text-decoration: none;
}
h2{
    text-align: center;
}
form{
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 2%;
}