#invitado{
    padding: 3%;
}

#invitado h1{
    text-align: center;
}
#invitado > p{
    text-align: center;
}
#invitado > section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4%;
}
#invitado > section > article{
    margin: 2%;
    padding: 2%;
    border: 2px solid blue;
    border-radius: 3%;
}
section > article p{
    color: rgb(12, 12, 12);
}