/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7f7f7; /* Fondo suave */
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    height: 100vh;
    display: block;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2a5d84; /* Azul más oscuro para el título */
}

main nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
}

main nav ul li {
    margin: 0 15px;
}

main nav ul li a {
    text-decoration: none;
    color: #4a90e2;
    font-weight: bold;
}

main nav ul li a:hover {
    color: #357ab7;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-top: 20px;
}

h2 {
    font-size: 1.8rem;
    color: #2a5d84;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
    color: #555;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

form {
    margin-top: 30px;
}

form div {
    margin-bottom: 20px;
}

form label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], 
form input[type="date"], 
form input[type="url"], 
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #357ab7;
}

/* Styling for Links */
main a {
    color: #357ab7;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    color: #2a5d84;
}

/* Styling for each section of the portfolio */
div h3 {
    font-size: 1.5rem;
    color: #2a5d84;
    margin-bottom: 10px;
}

div h4 {
    font-size: 1.2rem;
    color: #357ab7;
    margin-bottom: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    img {
        width: 120px;
        height: 120px;
    }

    form input[type="text"], 
    form input[type="date"], 
    form input[type="url"], 
    form input[type="email"] {
        font-size: 0.9rem;
    }

    form input[type="submit"] {
        font-size: 1rem;
    }
}
